# To make a copy of this file, run: cp .env.example .env

# Environment
ENV=stage

# BaseURLs
UI_URL=https://the-internet.herokuapp.com
API_URL=https://httpbin.org
FREE_API_URL=https://api.freeapi.app/api/v1/

# Basic Auth Credentials
AUTH_USERNAME=admin
AUTH_PASSWORD=admin

# Login Credentials
LOGIN_USERNAME=tomsmith
LOGIN_PASSWORD=SuperSecretPassword!
